html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the login box is above the video */
    width: 30%;
    height: 70%;
}

#form_container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the background color and opacity for better readability */
    box-shadow: 0 0 50px -20px #000;
    border-radius: 17%;
    overflow: hidden;
}

#alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #ff8a00, #da1b60);
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0; /* Ensure the video is behind the login box */
}

/* Your existing CSS styles for the form container and its contents */

#form_header_container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid transparent;
    border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 20;
    background: #000;
}

#form_header {
    display: inline-block;
    font-size: 15px;
    font-family: Bowlby One SC;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#form_content_container {
    width: 100%;
    height: 90%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#form_content_inner_container {
    width: 75%;
    height: 100%;
    float: left;
}

input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    background: #000;
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    font-size: 12px;
    border-bottom: 2px solid transparent;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 1;
}

#button_container {
    width: 100%;
    height: 10%;
    background-image: linear-gradient(80deg, #FFBE0B, #FB5607 50%, #FF006E 50%, #8338EC);
    color: #fff;
    float: left;
    margin-top: 5px;
}

#button_container button {
    width: 50%;
    height: 100%;
    float: left;
    background: transparent;
    color: inherit;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

